! CURSED


! special
/* *.foreground:   #c2c2b0 */
/* *.background:   #202020 */
/* *.cursorColor:  #c2c2b0 */

! black
/* *.color0:       #151515 */
/* *.color8:       #3f3639 */

! red
/* *.color1:       #b44242 */
/* *.color9:       #dc7671 */

! green
/* *.color2:       #95a328 */
/* *.color10:      #e8e85a */

! yellow
/* *.color3:       #e1c135 */
/* *.color11:      #9e9052 */

! blue
/* *.color4:       #60928f */
/* *.color12:      #76c39b */

! magenta
/* *.color5:       #7c435a */
/* *.color13:      #86596c */

! cyan
/* *.color6:       #a48b4a */
/* *.color14:      #ceb34f */

! white
/* *.color7:       #c2c2b0 */
/* *.color15:      #b0afa8 */

! GRUVBOX

! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
